<header class="header">
{{!-- 
// ------------- SECTION _ BURGER-MENU
--}}
<i class="icon-menu burger-button" id="burger-menu">*</i>


{{!-- 
// ------------- SECTION _ NAV - BAR
--}}
<div class="container">
        <figure class="logo">
          <img src="img/logo.png" height="50" alt="Imagen del logo" />
        </figure>
        <nav class="menu">
          <ol>
            <li>
              <a class="link" href="#portafolio">Portafolio</a>
            </li>
            <li>
              <a class="link" href="#eventos">Experiencia</a>
            </li>
            <li>
              <a class="link" href="#contacto">Contacto</a>
            </li>
          </ol>
        </nav>
</div>
</header>
