// --- 
// # 
// ---

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .social {}
  
  .social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
    &.twitter {
      background-image: url('../../../../../img/svg/twitter.svg');
    }
    &.facebook {
      background-image: url('../images/facebook.svg');
    }
    &.github {
      background-image: url('../images/github.svg');
    }
    &.instagram {
      background-image: url('../images/instagram.svg');
    }
  }
  
  .form-email {
    input {
      border-color: gray;
      border-style: solid;
      border-radius: 5px;
      padding: 10px 20px 10px 25px;
      background-image: url('../images/envelope.svg');
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 5px;
    }
    button {
      display: block;
      background: transparent;
      color: white;
      padding: 10px 0;
      border-radius: 5px;
      width: 100px;
      margin-top: 10px;
    }
    h3 {
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
  