<section id="portafolio" class="portfolio">
  <div class="container">
    <h2>Portafolio (Proyectos Destacados)</h2>

      <article class="project">
        <div class="project-details">
          <h3 class="project-title">Video App</h3>
          <h6 class="project-course">React Native / React</h6>
          <p class="project-date"><small><strong>Fecha:</strong> 01/07/2018</small></p>
          <p class="project-url"><small><strong>Puedes verlo en:</strong> www.appvi.com</small></p>
          <p class="project-description">Appvi fue el resultado de 3 meses de trabajo
              para crear la mejor app para enseñar el funcionamiento
              de React y React Native. Desde crear un vista-detalle, hasta patrones avanzados de nevegación, este proyecto ha sido el ejemplo de futuros creadores de aplicaciones multiplataforma</p>
        </div>
        <figure class="project-imageContainer">
          <img class="project-image" width="500" src="img/video-app-react-native.png" alt="proyecto aplicacion de videos">
        </figure>
      </article> 

  </div>
</section>