// --- 
// # 
// ---
.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      vertical-align: middle;
    }
    a {
      color: white;
    }
  }
