{{!-- --- 
# Salida de la plantilla html 
---  --}}

{{!-- <p>FOOTER
    <li>Aquí va el footer</li>
</p> --}}
---
{
  "template": "index.html",
  "title": "sss",
  "lists": [
    "oh",
    "yeah"
  ],
  "sections":[
    {
      "title": "secition 1",
      "description": "sec1 sec1 sec1"
    },
    {
      "title": "secition 2",
       "description": "sec2 sec2 sec"
    }
  ]
}
---

<h1># {{title}}</h1>

{{#each sections}}
## {{this.title}}
{{this.description}}
{{/each}}

{{#each lists}}
* {{this}}
{{/each}}