{{!-- --- 
# 
---  --}}
<footer class="footer">
      <div class="container">
        <div>
          <p>Curso de Desarrollo web online 2018 <img src="images/platzi.png" width="80" alt="platzi"></p>
        </div>
        <div>
          <p>
            Designed with ❤️ by <a href="#">@thespianartist</a>
          </p>
        </div>
      </div>
</footer>