<div class="wrapper">
  <ul class="carousel" data-target="carousel">
    <li class="card" data-target="card"></li>
    <li class="card" data-target="card"></li>
    <li class="card" data-target="card"></li>
    <li class="card" data-target="card"></li>
    <li class="card" data-target="card"></li>
    <li class="card" data-target="card"></li>
    <li class="card" data-target="card"></li>
    <li class="card" data-target="card"></li>
    <li class="card" data-target="card"></li>
  </ul>
  <div class="button-wrapper">
    <button data-action="slideLeft">L</button>
    <button data-action="slideRight">R</button>
  </div>
</div>
